services:
  core:
    build: .
    ports:
      - "8000:8000"
    networks:
      - api
    environment:
      SESSION_SECRET_KEY: ${SESSION_SECRET_KEY}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
    entrypoint: ["./entrypoint.sh"]
  database:
    image: postgres:17
    ports:
      - "5433:5432"
    networks:
      - api
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
networks:
  api:
